.img{
    /* width: 100%; */
    height: 200px;
    border-radius: 13px;
}
.onlinefriends{
display: flex;
margin-right: 4px;
}
.image{
    height: 60px;
    width:60px;
    border-radius: 50%;
}
.onlinename{
    padding-top: 18px;
    /* padding-left: 10px; */
}
.divpadd{
    padding-left: 0px;
    padding-right: 0px;
}