/* .boxes {
    margin-top: 27px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */
.square {
    width: 750px;
     height: 540px;
     box-sizing: border-box; 
     margin-left: 25px; 
    border-radius: 2%;
    margin-top: 15px;
}
.blogShadowDreamy {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                 0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07); 
} 

 .prflpic{
    
        height: 60px;
        width:60px;
        border-radius: 50%;
        margin-top: 10px;
        margin-left: 22px;
        
}
.name{
    padding-top: 25px;
    padding-left: 4px;
}
.ptag{
    padding-left: 29px;
    padding-top: 8px;
}

.img{
    width: 700px;
    height: 330px;
    margin-left: 32px;
}
.like{
    padding-left: 30px;
    padding-top: 8px;
}
.love{
    padding-left: 2px;
    padding-top: 8px;
}

/* .img{
    margin-left:50px;
    height: 50px;
    width: 50px;
}
.middlediv{
    border-radius: 20px;
    width: 100%;
    height:150px;
    margin-right: 200px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.txt
{
    margin-left: 2px;
} */
.likebtn{

    padding-bottom: 9px;
    margin-bottom: 5px;
}